{% extends 'main.html' %}

{% block content %}


<body>
    <div class="toggle-btn" onclick="myFunction();">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="yellow-box">
        <p>Yellow Sense Technology</p>
    </div>
    <div class="banner">

        <div class="navbar">

            <div class="logo-container">
                <img src="logo.png" alt="logo" class="logo">
            </div>

            <nav id="nav">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#contact-us">Contact</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>


        <div class="content1">
            <h1><span class="title">HouseHelp</span> at your doorstep</h1>
            <p>We're building an AI-powered platform for quick connections between customers and housekeepers like
                <br>maids,cooks and nannies. One click links customers with these workers, offering employment
                opportunities for
                those in need.
            </p>

            <div class="btn">
                <a href="/request_maid">
                    <button type="button"><span></span>Book a Maid</button>
                </a>
                <a href="/request_cook">
                    <button type="button"><span></span>Book a Cook</button>
                </a>
                <a href="/request_nanny">
                    <button type="button"><span></span>Book a Nanny</button>
                </a>
                <!-- <button type="button"><span></span>Book a Cook</button>
                <button type="button"><span></span>Book a Nanny</button> -->
            </div>

            <div class="btn">

                <h3>Want to work with us?</h3>
                <a href="/add_service_provider">
                    <button type="button"><span></span>Register Now</button>
                </a>

            </div>
        </div>











        <div class="marquee-container">

            <h1 class="marquee-text">Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny
                requirements •
                Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny requirements</h1>
            <h1 class="marquee-text">Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny
                requirements •
                Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny requirements</h1>
            <h1 class="marquee-text">Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny
                requirements •
                Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny requirements</h1>
            <h1 class="marquee-text">Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny
                requirements •
                Instant HouseHelp at your doorstep.Call 94038-90108 for maid/cook/nanny requirements</h1>


        </div>

        <footer>
            <div class="main-content" id="about-us">
                <div class="left box">
                    <h2>About us</h2>
                    <div class="content">
                        <p>The current challenge lies in securing readily available domestic help such as maids, cooks,
                            and
                            nannies, leading to a significant gap between supply and demand. Conversely, service
                            providers
                            in this sector struggle to find suitable employment opportunities. What is required is a
                            platform that effectively connects service seekers with service providers, addressing this
                            imbalance.</p>
                        <div class="social">
                            <a href="#"><span class="fab fa-facebook-f"></span></a>
                            <a href="#"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-instagram"></span></a>
                        </div>
                    </div>
                </div>
                <div class="center box" id="contact-us">
                    <h2>Address</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">Bangalore</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text">+91 9403890108</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text">support@yellowsense.in</span>
                        </div>
                    </div>
                </div>
                <div class="right box">
                    <h2>Contact us</h2>
                    <div class="content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email *</div>
                                <input type="email" required>
                            </div>
                            <div class="msg">
                                <div class="text">Message *</div>
                                <textarea rows="2" cols="25" required></textarea>
                            </div>
                            <div class="btn">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <center>
                    <span class="far fa-copyright"></span><span> © 2023 Yellow Sense Technology is a registered
                        trademark.
                        All rights reserved.</span>
                </center>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        function myFunction() {
            var navbar = document.getElementById('nav');
            navbar.classList.toggle('show')
        }
    </script>






</body>

</html>
{% endblock content %}
