{% extends 'main.html' %}


{% block content %}

<h1 style="text-decoration: underline;">Maid Request</h1>
<body>
    <form action="{% url 'add_customer' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="selected_service" value="maid">
        <!-- Customer Details Section -->
        <fieldset>
            <h2>Customer Details</h2> <br>
            <label for="society_name">Society Name:</label>
            <select id="society_name" name="society_name" required>
                <option value="" disabled selected>Select Society</option>
                <option value="Society1">Society1</option>
                <option value="Society2">Society2</option>
                <option value="Society3">Society3</option>
                <!-- Add more society options here -->
            </select><br>

            <label for="preferred_gender">Preferred Gender:</label>
            <select id="preferred_gender" name="preferred_gender" required>
                <option value="male">male</option>
                <option value="female">female</option>
                <option value="any">Any</option>
            </select>
            <br />

            <label for="customer_name">Name:</label>
            <input type="text" id="customer_name" name="customer_name" required><br>

            <label for="contact">Contact Number:</label>
            <input type="tel" id="contact" name="contact" required><br>

            <label for="Country">Country:</label>
            <input type="tel" id="country" name="country" required>
            <br />

            <label>Services Required:</label><br>
            <div class="services-options">
              <input type="checkbox" id="sweeping" name="services_required" value="Sweeping">
              <label for="sweeping">Sweeping</label><br>

              <input type="checkbox" id="mopping" name="services_required" value="Mopping">
              <label for="mopping">Mopping</label><br>

              <input type="checkbox" id="washroom" name="services_required" value="Washroom">
              <label for="washroom">Washroom Cleaning</label><br>

              <input type="checkbox" id="utensils" name="services_required" value="utensils">
              <label for="utensils">Utensils Cleaning</label><br>

              <input type="checkbox" id="other_services" name="other_services" value="Other">
              <label for="other_services">Other (Please specify):</label>
              <input type="text" id="other_services" name="other_services"><br>

            </div>

            <label for="house_size">House Size:</label>
            <select id="house_size" name="house_size" required onchange="toggleOtherInput()">
                <option value="1bhk">1 BHK</option>
                <option value="2bhk">2 BHK</option>
                <option value="3bhk">3 BHK</option>
                <option value="other">Other</option>
            </select>
            <input type="text" id="other_house_size" name="other_house_size" placeholder="Other Size" style="display: none;" />
            <br />

            <label for="timings">Preferred Timings:</label>
            <input type="time" id="timings_from" name="timings_from" required> to
            <input type="time" id="timings_to" name="timings_to" required><br>
            <br>

            <label for="additional_requirements">Additional Requirements:</label>
            <textarea id="additional_requirements" name="additional_requirements" rows="3"></textarea><br>
        </fieldset>

        <!-- Submit Button -->
        <button type="submit">Submit Request</button>
    </form>
</body>
{% endblock content %}